<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>TodoApp</title>
  </head>
  <body>
    <nav id="navbar" class="fixed top-0 left-0 right-0 bg-green-400 h-16"></nav>
    <div class="pt-16 h-screen flex justify-center items-center flex-col md:flex-row lg:w-3/5 mx-auto px-4 gap-4 md:gap-8">
      <h1 class="text-shadow-indigo-700 font-bold text-4xl md:text-7xl">TodoApp</h1>
      <div class="flex flex-col gap-4 md:text-xl">
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non similique perspiciatis impedit ducimus. Excepturi voluptatem et possimus reprehenderit fugiat veniam nihil, fuga molestias iure voluptate, quaerat ratione ex quibusdam modi?</p>
        <div class="flex justify-around gap-4">
          <a class="bg-green-400 hover:bg-green-500 py-2 px-4 rounded-lg text-white font-bold w-2/4 text-center transition ease-in-out" href="/login/">Log In</a>
          <a class="bg-sky-700 hover:bg-sky-800 py-2 px-4 rounded-lg text-white font-bold w-2/4 text-center transition ease-in-out" href="/signup/">Sign Up</a>
        </div>
      </div>
    </div>
    <script src="/components/nav.js"></script>
  </body>
</html>
